
<body>
    <div class="box">
        <div id="header">
      
<h2> Your To do List </h2>
<input type="text" name="task" placeholder="To do item" #task>
<button class="addBtn" (click)="addTask(task.value)">Add</button>
</div>

  <ul>
    <li *ngFor="let todo of todoArr; let idx=index;">{{todo}}
      <button class="button delete" (click)="deleteTask(idx)">x</button> 

    </li>
  </ul>
  <span id="bottom">
<button class="button clear" (click)="clear()">Clear All</button> 
</span>
</div>
</body>
